.clippath {
    background-position: 105% 20px;
    background-size: 150px;
    background-repeat: no-repeat;
}

.clippathr {

    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

    background-position: 1% 20px;
    background-size: 150px;
    background-repeat: no-repeat;
}

.h_background {
    background-size: 50%;
}